body{
    font-family: 'roboto' sans-serif;
    margin: 0%;
    padding: 0%;
}
nav{
    background-color: #111;
    color:white;
    padding: 20px 50px;
}
.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.searchInput{
    
    align-items: center;
    background-color: gray;
    color:white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}
i{
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
}
.searchInput::placeholder{
    color: lightgreen;
}
.offerlimeted{
    font-size: 22px;
    border-bottom: 2px solid green;
    cursor: pointer;
}
.navbottom {
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.menuItem{
    margin: 20px;
    cursor: pointer;
    font-family: 400;
    color: lightgray;
}
.slider{
    background-color: rgb(25, 214, 192);
}
.sliderWrapper{
    display: flex;
    width: 500vw;
}
.sliderItem{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.sliderImg{
    width: 45%;
    height: 250px;
}